@import "../../styles/typography";

.ProjectPreview {
    margin-bottom: 5rem;

    .cardContainer {
        margin-bottom: 3rem;
        height: 30vh;

        .cardTitle {
            z-index: 2;
            font-size: $title-level-one;
            line-height: 1;
            padding: 1rem;
        }
    }

    .linksContainer {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.25rem;

        & > * {
            margin: 0 .75rem 1rem 0;
        }
    }

    .textContainer {
        margin-bottom: 2rem;
    }
}