.ProjectPreview {
    margin-bottom: 5rem;

    .cardContainer {
        margin-bottom: 3rem;
    }

    .linksContainer {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.25rem;

        & > * {
            margin: 0 .75rem 1rem 0;
        }
    }

    .textContainer {
        margin-bottom: 2rem;
    }
}