@import "../../styles/colors";
@import "../../styles/mixins/breakpoints";

:export {
    shadowColorLight: $color-pink;
    shadowColorDark: $color-purple-dark;
}

.ShadowBox {
    position: relative;
    height: 100%;
    z-index: 1;

    .shadow {
        @include view('medium') {
            top: 1rem;
            left: .9rem;
        }

        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        top: .45rem;
        left: .3rem;
    }
}