@import "../../styles/colors";
@import "../../styles/mixins/breakpoints";

:export {
    colorPink: $color-pink;
    colorBlack: $color-black;
    colorWhite: $color-white;
}

.Button {
    position: relative;
    background: $color-pink;
    color: $color-black;
    display: flex;
    padding: .75rem 1rem;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;

    &:hover, &.black, &.white:hover {
        background: $color-black;
        color: $color-white;

        .iconContainer img {
            filter: brightness(0) invert(1);
        }

        .arrowContainer path {
            stroke: $color-white;
        }
    }

    &.white, &.black:hover {
        background: $color-white;
        color: $color-black;

        .iconContainer img {
            filter: brightness(0);
        }

        .arrowContainer path {
            stroke: $color-black;
        }
    }

    &.isLink {
        padding: 0.75rem 2.25rem 0.75rem 1rem;
    }

    &.isGhost {
        background: unset;

        &:hover {
            color: $color-white;

            .arrowContainer path {
                stroke: $color-white;
            }
        }

        &.black, &.white {
            &:hover {
                text-decoration: underline;
            }
        }

        &.black {
            color: $color-black;

            .arrowContainer path {
                stroke: $color-black;
            }
        }

        &.white {
            color: $color-white;

            .arrowContainer path {
                stroke: $color-white;
            }
        }

        .iconContainer img {
            filter: unset;
        }

        .arrowContainer svg {
            height: 100%;
        }

        .arrowContainer path {
            stroke: $color-pink;
        }
    }

    p {
        display: inline;
        line-height: unset;
    }

    .iconContainer {
        height: 1.1875rem;
        display: inline-block;
        margin-right: .5rem;

        img {
            height: 100%;
        }
    }

    .arrowContainer {
        position: absolute;
        right: 1rem;
        display: inline-block;
        margin-left: .5rem;

        path {
            stroke: $color-black;
        }
    }
}