@import "../../styles/colors";

.Button {
    background: $color-pink;
    color: $color-black;
    display: block;
    padding: .75rem 1.25rem;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
}