@import "../../../styles/colors";
@import "../../../styles/typography";

$image-card-height: 30vh;

.ImageCard {
    position: relative;
    color: $color-white;
    height: 100%;
    overflow: hidden;

    &.isWhite {
        color: $color-black;

        .imageContainer {
            &:before {
                background: rgba(255,255,255, 0.5);
                background: $image-gradient-white;
            }
        }
    }

    .contentContainer {
        position: relative;
        z-index: 2;
        height: 100%;
    }

    .absoluteContainer {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .imageContainer {
        position: relative;
        height: 100%;
        width: 100%;

        &:before {
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0,0,0, 0.5);
            background: $image-gradient-black;
            z-index: 1;
        }

        .image {
            width: 100%;
            height: 100%;
        }
    }
}