@import "../../../styles/colors";

$card-border-radius: 1rem;

.Card {
    display: block;
    border-radius: 1rem;
    width: 100%;
    height: 100%;

    &.isDynamicHeight {
        height: auto;
    }
}
