@import "../../styles/colors";
@import "../../styles/typography";

:export { logoColor: $color-purple-light; }

.Welcome {
    display: flex;
    flex-wrap: wrap;

    .logoContainer {
        width: 15vw;
        margin: 0 auto 2em;
        flex: 0 0 15vw;
    }

    .heading {
        color: $color-purple-light;
        font-size: $title-level-two;
        line-height: 1.5;

        .isPink, .isWhite {
            display: inline-block;
        }

        .isPink {
            color: $color-pink;
        }

        .isWhite {
            color: $color-white;
            display: inline-block;
        }

        .isMobileOnly {
            display: block;
        }
    }

    .buttonContainer {
        margin-top: 3rem;
    }
}