@import "../../styles/colors";
@import "../../styles/mixins/breakpoints";

$message-padding-vertical: 2em;

.About {
    @include view('large') {
        height: 100vh;
        padding: 0;
    }

    margin-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 0 40vw;

    .title {
        margin-bottom: 2rem;
    }

    .text {
        margin-bottom: 2rem;
    }

    .message {
        @include view-between('small', 'large') {
            flex: 0 0 60%;
        }

        @include view('large') {
            position: absolute;
            left: 0;
            width: 40%;
            top: 50%;
            transform: translateY(-50%);
        }

        background: $color-white;
        color: $color-black;
        padding: 1.5em $message-padding-vertical 3em;
        position: relative;

        .time {
            position: absolute;
            bottom: 1em;
            right: $message-padding-vertical;
            color: $color-purple-light;
        }
    }

    .imageContainer {
        @include view('large') {
            position: absolute;
            left: 35%;
            width: 80%;
            top: 50%;
            transform: translateY(-50%);

            &.isTop {
                left: 50%;
                top: 0;
                transform: translateX(-50%);
            }
        }

        width: 100%;
        margin-bottom: 2em;
    }
}