@import "../../styles/colors";
@import "../../styles/mixins/breakpoints";

$message-padding-vertical: 2em;

.About {
    @include view('large') {
        height: 100vh;
        padding: 0;
    }

    margin-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0 0 40vw;

    &.isSideways {
        .imageContainer {
            @include view('large') {
                transition: .75s;
                left: 35%;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .message {
            opacity: 1;
        }
    }

    .imageContainer {
        transition: 1s;
    }

    .title {
        margin-bottom: 2rem;
    }

    .text {
        margin-bottom: 2rem;
    }

    .message {
        @include view-between('small', 'large') {
            flex: 0 0 60%;
            opacity: 0;
        }

        @include view('large') {
            position: absolute;
            left: 0;
            width: 40%;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
        }

        background: $color-white;
        color: $color-black;
        padding: 1.5em $message-padding-vertical 3em;
        position: relative;
        transition: .5s ease-in;

        .time {
            position: absolute;
            bottom: 1em;
            right: $message-padding-vertical;
            color: $color-purple-light;
        }
    }

    .imageContainer {
        @include view('large') {
            position: absolute;
            width: 80%;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }

        width: 100%;
        margin-bottom: 2em;
    }
}
