@import "../../../styles/typography";
@import "../../../styles/colors";

.Text {
    font-size: $text-mobile;
    line-height: $text-mobile * 1.8;

    .isBlack {
        background: $color-black;
    }
}