@import "../../../styles/colors";
@import "../../../styles/mixins/breakpoints";
@import "../Card/Card.module";

$avatar-width: 24%;

:export {
    imageOverlay: linear-gradient(180deg, rgba(163, 147, 235, 0.75) 0%, rgba(242, 205, 250, 0.75) 100%);
}


.SocialCard {
    height: 100%;
    background: $color-white;
    color: $color-black;

    .header {
        position: relative;

        .headerImage {
            @include view('large') {
                height: 18vh;
            }

            height: 25vh;

            div, img {
                border-radius: $card-border-radius $card-border-radius 0 0;
            }
        }

        .socialAvatar {
            width: $avatar-width;
            position: absolute;
            bottom: -($avatar-width * 0.9);
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;

            .avatarShadow {
                @include view('medium') {
                    top: 0.7rem;
                    left: 0.55rem;
                }
            }

            .imageWrapper {
                overflow: hidden;
                border-radius: $card-border-radius;
            }

            .avatarImg {
                transform: scale(2.4) translateY(4%);
            }
        }
    }

    .content {
        @include view('medium') {
            margin-top: 6rem;
            padding: 0 4.5rem 2.5rem;
        }

        @include view('large') {
            padding: 0 3.5rem 1.5rem;
        }

        margin-top: 3rem;
        padding: 0 1.5rem 0.5rem;

        .center {
            text-align: center;
        }

        .mailContainer, .socialContainer {
            margin: 0 auto 2rem;
        }

        .mailContainer {
            @include view('medium') {
                margin-top: 2rem;
            }
        }

        .addressContainer, .socialButtonContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .email {
            line-height: 2.5rem;
            margin-right: 1.25rem;
        }

        .subtitle {
            margin-bottom: 1rem;
        }

        .socialButton {
            margin-right: 1rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}