@import "../Text/Text.module";

.List {
    &.isHyphens {
        list-style: none;

        li {
            &:before {
                content: "-";
                margin-right: 1rem;
                line-height: $text-line-height;
            }
        }
    }

    li {
        display: flex;
    }
}