@import "../../styles/typography";
@import "../../styles/mixins/breakpoints";

.WorkPreview {
    @include view-between('small', 'large') {
        height: 40vh;
        margin-bottom: 10rem;
    }

    height: 50vh;
    margin-bottom: 5rem;

    .previewContainer {
        @include view-between('small', 'large') {
            width: 30rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        text-align: center;
        position: absolute;
        padding: 2rem;
        top: 50%;
        transform: translateY(-50%);

        .title, .description {
            @include view-between('small', 'large') {
                margin-bottom: 3.5rem;
            }

            margin-bottom: 2rem;
        }

        .title {
            @include view-between('small', 'large') {
                font-size: $title-level-one;
            }
        }

        .description {
            @include view-between('small', 'large') {
                text-align: center;
            }
        }

        .emoji {
            line-height: 1;
        }
    }
}