.SkillCard {
    .title {
        margin-bottom: 2rem;
    }

    .flexContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .contentContainer {
        margin-bottom: 1rem;

        .equalLineHeight {
            line-height: 2rem;
        }

        .subtitle {
            margin-bottom: .5rem;

            &.isInline {
                margin-right: 1rem;
                margin-bottom: unset;
            }
        }
    }
}