@import "../../styles/colors";
@import "../../styles/variables";

.Skills {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 0 8rem;
    position: relative;

    .background {
        position: absolute;
        z-index: 0;
        background: $color-purple-light;
        width: calc(100% + (2 * #{$mobile-padding}));
        height: 80%;
        top: 50%;
        left: -1 * $mobile-padding;
        transform: translateY(-50%);
    }

    .card {
        margin-bottom: 3rem;
        z-index: 1;

        &:last-of-type {
            margin-bottom: unset;
        }
    }
}