@import "../../../styles/colors";

$tag-margin: 1.5%;

.Tag {
    display: inline-block;
    border-radius: 10px;
    color: $color-gray-dark;
    background: $color-gray-light;
    padding: 1rem;
    justify-content: space-around;
    margin: $tag-margin;
    padding: .3rem .5rem;

    p {
        line-height: 1.5;
    }
}